[data-status] {
  padding: 5px 10px;
}

[data-status='대기중'] {
  background-color: #ff6767;
  color: #ffffff;
}

[data-status='진행중'] {
  background-color: #5f62ff;
  color: #ffffff;
}

[data-status='완료'] {
  background-color: #07c456;
  color: #ffffff;
}
